@import "./utilities/mixins";
@import "./utilities/variables";
@import "./base/reset";
@import "./layout/header.scss";
@import "./layout/main-cine";
@import "./layout/main-esports";
@import "./layout/main-index";
@import "./layout/main-noticias";
@import "./layout/main-videojuegos";
@import "./layout/footer.scss";


%text-center {
    text-align: center;
}



@media (max-width: 576px) {
    .container {
    padding-left: 15px;
    padding-right: 15px;
    }
}


@media (max-width: 768px) {
.subtitulo5 {
    font-size: 22px;
}

}


// Media queries
@media screen and (max-width: 767px) {
    .container {
    flex-direction: column;
    align-items: flex-start;
}
}