@mixin card-styles {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin center-vertically {
    display: flex;
    align-items: center;
}

@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin texto-destacado {
    font-weight: bold;
    color: #333;
}

