// PAGINA INDEX //
$color-primary: #3d3dbe;
$font-family: 'Arial', sans-serif;

// PAGINA CINE //

$color-primary: #007bff;
$color-white: #ffffff;


// PAGINA ESPORTS //

$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #333;
%imagen {
    width: 100%;
    height: auto;
}



