body {
    font-family: #{$font-family};
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.mt-5 {
    margin-top: 5rem;
    text-align: start;
}

.mt-4 {
    margin-top: 4rem;
}

.card {
    @include card-styles;
}


.text-center{
    text-align: start;
}

.card-img-top {
    max-height: 250px;
    object-fit: cover;
}

.text-center {
    @extend %text-center;
}

.main{
    background-color: rgb(140, 92, 185);
}
