.pie-de-pagina {
    height: 140px;
    padding: 50px;
    text-align: end;
    padding-right: 500px;
    background-image: url(../assets/img/FondoFooter.png);
    background-position: center;
    background-size: cover;
}
